{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{template "Title" .}}</title>
    <script src="/js/jquery.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
<!--<link rel="stylesheet" href="/css/main.css" type="text/css">-->
    <link rel='stylesheet' id='style-layout-css'  href='/css/amoeba.css' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="/css/isotope.css" media="screen" /> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Custom Fonts -->
    
    <link href="/css/googlefonts.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('http://www.siwallpaperhd.com/wp-content/uploads/2015/06/new_york_skyline_at_night_wallpaper_hd_21_city.jpg'); background-repeat: repeat; background-position: top center; background-attachment: fixed; }
</style>
-->
</head>
    {{template "nav" .}}
<body class="home blog custom-background">
{{end}}